@{
    ViewData["Title"] = "Made In Eugene";
}

<div class="container">
    <h1>Made In Eugene</h1>

    <div>
        <p>A website about foods made with love in Eugene! You will find here:</p>
        <ul>
            <li>Information about them</li>
            <li>Where to find them</li>
            <li>Reviews of their quality</li>
            <li>Ways to contact the companies</li>
            <li>A page to explore more</li>
        </ul>
    </div>

    <div>
        <h4>Seven Benefits for buying local</h4>
        <ol>
            <li>You can select the farm that produces food in accordance to your values</li>
            <li>There is less safety risk when buying local</li>
            <li>Locally grown foods respect better the environment</li>
            <li>It is a very efficient way to support the local economy</li>
            <li>It can often be cheaper than buying food at the supermarket</li>
            <li>Local food has more nutrients</li>
            <li>Local food has more flavor</li>
        </ol>


    </div>

    <section>
        <div>
            <h4>1. You can select the farm that produces food in accordance to your values</h4>
            <p>You can ask what practices they use to raise and harvest the crops. When you know where your food comes from and who grew it, you know a lot more about that food.</p>
        </div>

        <div>
            <h4>2. There is less safety risk when buying local</h4>
            <p>The more steps there are between you and your food’s source the more chances there are for contamination. Food grown in distant locations has the potential for food safety issues at harvesting, washing, shipping and distribution.</p>
        </div>

        <div>
            <h4>3. Locally grown foods respect better the environment</h4>
            <p>Locally produced foods reduce the use of so much fossil fuel. In general, less GMO's, fertilizers and pesticides are used in growing local foods.</p>
        </div>

        <div>
            <h4>4. It is a very efficient way to support the local economy</h4>
            <p>First, buying local keeps money circulating within the local economy. ... Buying local also fuels new employment and job opportunities for people within our community. Studies show, locally owned businesses employ more people per unit of sales and retain more employees over time.</p>
        </div>

        <div>
            <h4>5. It can often be cheaper than buying food at the supermarket</h4>
            <p>This study found that, with many products, local food sold at the farmers market was statistically less expensive than comparable non-local food sold at nearby supermarkets.</p>
        </div>

        <div>
            <h4>6. Local food has more nutrients</h4>
            <p>Local food has a shorter time between harvest and your table, and it is less likely that the nutrient value has decreased. Food imported from far-away states and countries is often older, has traveled and sits in distribution centers before it gets to your store.</p>
        </div>

        <div>
            <h4>7. Local food has more flavor</h4>
            <p>Produce such as fruits and vegetables are tastiest fresh, and the best way to maximize freshness is to buy local. ... With such a short farm-to-table time lapse, the produce doesn't have to be wax coated, so you enjoy the full sensory experience of eating from taste to touch to smell.</p>
        </div>

    </section>




</div>



