@{
    ViewData["Title"] = "Quiz";
}

<div class="container">
    <h1>Quiz</h1>
    <form>
        <label>On average, how far does your food travel from farm to your plate?</label>
        <input />

        <label>On average, how much food do Americans waste per person each day?</label>
        <input />

        <label>What time does the Saturday Farmer's Market open and close?</label>
        <input />

    </form>

</div>