@{
    ViewData["Title"] = "Resources";
}

<div class="container">
    <h1>Resources</h1>

    <h4>Lane County Farmers Market</h4>
    <p>
        Our Lane County Farmers Market is the oldest in the country! It provides fresh, locally grown produce, food products, flowers,
        and plants where shoppers buy directly from the producers.
    </p>
        <a href="https://www.youtube.com/watch?v=LgpQlr-ovVM" target ="_blank">Watch a random person take a walk in the market :)</a>
    
</div>



