@model Product

@{
    ViewData["Title"] = "Remove a Product";
}
<h2>Confirm Deletion</h2>
<h3>@Model.NameOfProduct</h3>

<form asp-action="Delete" method="post">
    <!--bing ProductId to the hidden field, so that the form posts the primary key of the movie to be deleted to the
        Delete() action in the controller-->
    <input type="hidden" asp-for="ProductId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>